:root {
  --color-text: #041182;
  --border-color: black;
  --main-text-color: white;
}

img {
  display: block;
  max-width: 400px;
  height: auto;
  }
  
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  /* width: 1024px;  */
  margin: auto;
  height: auto;
  
}

.container-header {
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--border-color);
}

.mini-container {
  border-bottom: 2px solid var(--border-color);  
  padding-bottom: 25px;
}

.mini-container:not(:last-child){
  margin-bottom: 30px;
}

.image-header { 
  margin-bottom: 15px;   
}

.cv-header{
  font-family: Ibarra Real Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 1.22;

    margin-bottom: 19px;
}

.header-title {
  font-family: Ibarra Real Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 1.22;

  margin-bottom: 19px;
  text-transform: uppercase;
}

.header-text {
  font-family: Ibarra Real Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 1.21;
  color: var(--color-text);

  padding-bottom: 35px;
  text-transform: uppercase;
}

.phone {
  padding-bottom: 10px;
}

.contact-list {
  font-family: Ibarra Real Nova;
  font-size: 22px;
  line-height: 1.2;
}

.contact-list_item:not(:last-child) {
  padding-bottom: 8px;
}

.container-main {
  display: flex;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.container-main_first {  
  min-width: 400px;
  padding-bottom: 600px;
  margin-right: 45px;
  background-color: #e8e8e8;  
}

.bar{
  padding: 0px 25px 710px 25px; /*прибирати верхній падінг там де немає фотки*/
}

.container-main_second{
  padding: 0px 25px 0 0;
}

.main_title {
  font-family: Ibarra Real Nova;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.22;

  text-transform: uppercase;
  margin-bottom: 15px;
}

.prof-title {
  font-size: 32px;
}

.main_text {
  font-family: Ibarra Real Nova;
  font-size: 29px;
  line-height: 1.22;

  text-align: justify;
}

.work-container {
  margin-bottom: 45px;
}

.workt-title {
  font-family: Ibarra Real Nova;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.22;
}
.work-text {
  font-family: Ibarra Real Nova;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.71;
  color: var(--color-text);
}

.name-project {
  display: flex;
  flex-wrap: no-wrap;
}

.project-link {
  margin-right: 5px;

}

.text-education {
  color: var(--border-color);
  font-weight: normal;
}

.project {
  margin-right: 5px;
  font-weight: bold;
  font-size: 32px;
    line-height: 1.1;
    color: var(--color-text);

}

.text-expr{  
  font-family: Ibarra Real Nova;
    font-size: 27px;    
    line-height: 1.1;  
    margin-left: 30px;
    
}

.main_text-item{
  list-style: inside;  
  font-size: 27px;
    line-height: 1.1;
}

.text-work{
  font-family: Ibarra Real Nova;
    font-size: 27px;
    line-height: 1.1;
}
.education {
  color: var(--color-text);
  font-weight: bold;
  font-family: Ibarra Real Nova;
  font-size: 27px;
  line-height: 1.1;
  list-style: none;
}

.text-tech{
  font-weight: bold;
  margin-right: 10px;
}

.link-container{
  display: flex;
  align-items: center;
}

.work-link{
  margin-left: 15px;
}
