img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  width: 1024px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  display: flex;
  margin-bottom: 40px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.mini-container {
  border-bottom: 2px solid black;
  margin-bottom: 35px;
  padding-bottom: 15px;
}

.image-header {
  max-width: 370px;
  margin-right: 88px;
}

.header-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 1.22;

  padding-bottom: 19px;
  text-transform: uppercase;
}

.header-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.21;
  color: tomato;

  padding-bottom: 35px;
  text-transform: uppercase;
}

.phone {
  padding-bottom: 10px;
}

.contact-list {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.71;
}

.contact-list_item:not(:last-child) {
  padding-bottom: 5px;
}

.icon-list {
  vertical-align: middle;
  margin-right: 5px;
}

.container-main {
  display: flex;
}

.container-main_first {
  width: 370px;
  margin-right: 88px;
}

.soft::before {
  content: "-";
}

.main_title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.22;

  text-transform: uppercase;
  padding-bottom: 15px;
}

.prof-title {
  font-size: 18px;
}

.main_text {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 1.71;

  text-align: justify;
}

.work-container {
  padding-bottom: 25px;
}

.workt-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.22;
}
.work-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  color: tomato;
}
